.App {
  display: flex;
  margin-top: 1%;
  flex-direction: column;
  align-items: center;
  /* background-color: hotpink; */
  /* text-align: center; */
}
span{
  font-size: calc(1px + 2vmin);
  font-family: 'Courier New';
  font-weight:lighter;
  letter-spacing: 1px;
  line-height: 25px;

}
span:nth-child(3){
  font-size: calc(1px + 2vmin);
  font-family: 'Courier New';
  font-weight:lighter;
  letter-spacing: 1px;
  line-height: 25px;
  text-decoration: underline;
}

.one {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 40%;
}

td {
  border: 1px solid black;
  text-align: left;
  padding: 10px;
  width:50px
}
.rasi{
  display:flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
  margin-top:2%;
  margin-bottom: 50px;
  align-items: center;


}
.drop{
  display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 30%,
}
.first-table{
  border-collapse: collapse;
  /* width:20%; */
  margin-right: 10px;
}
.second-table{
  border-collapse: collapse;
  /* width:20% */
}


@media(max-width:500px){
  .App {
    display: flex;
    margin-top: 1%;
    flex-direction: column;
    align-items: center;
    /* background-color: green; */
    /* text-align: center; */
  }
  .one {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /* background-color: aqua; */
    width: 90%;
  }
  .drop{
    display: flex;
              flex-direction: row;
              justify-content: space-between;
              width: 90%,
  }
  .rasi{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    /* width:80%; */
    align-items: center;
    /* margin:50px */
  }

  .first-table{
    margin-top:20px;
    border-collapse: collapse;
    /* width:20% */
  }
  .second-table{
    margin-top:20px;
    border-collapse: collapse;
    
  }
  span{
    font-size: calc(5px + 2vmin);
    font-family: 'Courier New';
    font-weight:lighter;
    letter-spacing: 1px;
    line-height: 25px;
  
  }
  span:nth-child(3){
    font-size: calc(8px + 2vmin);
    font-family: 'Courier New';
    font-weight:lighter;
    letter-spacing: 1px;
    line-height: 25px;
    text-decoration: underline;
  }
}
/* tr:nth-child(even) {
  background-color: #dddddd;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */


